<?xml version="1.0"?>

<model>
  <name>Pioneer 3AT with Sensors modified for ROS combination</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Salih Marangoz</name>
    <email>salih285@gmail.com</email>
  </author>
  
  <license>NONE</license>

  <description>
    Pioneer 3AT Mobile Robot with Skid-Steer Plugin, hokuyo plugin and camera Plugin modified for ROS combination.
  </description>
</model>
