<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="robot1"/>
  <arg name="joystick" default="0"/>

  

  <group ns="$(arg robot_name)">

     
   <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/Option2_Multi/rviz/$(arg robot_name).rviz"/>-->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/Echoic/rviz/$(arg robot_name).rviz"/>

       	  <param name="image_topic_h" value="/$(arg robot_name)/thermal_camera/thermal_camera/image_raw" />
          <param name="service_" value="NO" /> 
          <param name="robot_pre" value="$(arg robot_name)" />          

          <node pkg="heat_detection" type="heat_detection" name="heat_detection" output="screen"/>



  </group>

  <!-- Not working with Name Spacei ..... ?
  <group ns="$(arg robot_name)" if="$(arg joystick)">
  -->
  <group if="$(arg joystick)">
    <include file="$(find teleop_joy)/launch/teleop_joy.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
  </group>

  <group ns="$(arg robot_name)" unless="$(arg joystick)">
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" args="cmd_vel:=/$(arg robot_name)/cmd_vel" launch-prefix="xterm -e"/>
  </group>

 <node pkg="gmapping" type="slam_gmapping" name="gmapping">
		<param name="odom_frame" value="$(arg robot_name)/odom"/>	
		<param name="map_frame" value="$(arg robot_name)/map"/>
		<param name="base_frame" value="$(arg robot_name)/base_link"/>		 		 

		<param name="xmin" type="double" value="-50"/>
		<param name="xmax" type="double" value="50"/>
		<param name="ymin" type="double" value="-50"/>
		<param name="ymax" type="double" value="50"/>
		
		<remap from="map" to="$(arg robot_name)/map_output"/>
		<remap from="scan" to="$(arg robot_name)/scan"/>

        </node>

</launch>
