<?xml version="1.0"?>
<launch>

  <include file="$(find pioneer2017)/launch/spawn_p3at_RC2016.launch">
    <arg name="robot_name" value="robot1"/>
    <arg name="pose_x" value="40"/>
    <arg name="pose_y" value="-20"/>
    <arg name="pose_z" value="0.2"/>
    <arg name="pose_yaw" default="0"/>
  </include>

  <include file="$(find pioneer2017)/launch/spawn_p3at_RC2016.launch">
   <arg name="robot_name" value="robot2"/>
    <arg name="pose_x" value="40"/> 
    <arg name="pose_y" value="-22"/>
    <arg name="pose_yaw" default="0"/>
    <arg name="pose_z" value="0.2"/>
  </include>

  <include file="$(find pioneer2017)/launch/spawn_p3at_RC2016.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="pose_x" value="40"/> 
    <arg name="pose_y" value="-23.5"/>
    <arg name="pose_yaw" default="0"/>
    <arg name="pose_z" value="0.2"/>
  </include>

  <include file="$(find pioneer2017)/launch/spawn_p3at_RC2016.launch">
    <arg name="robot_name" value="robot4"/>
    <arg name="pose_x" value="40"/> 
    <arg name="pose_y" value="-25"/>
    <arg name="pose_yaw" default="0"/>
    <arg name="pose_z" value="0.2"/>
  </include> 

</launch>
