<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>
  
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="world" default="open_light_victims_no_robot.world"/>

  <!-- Launch robot state publishers -->
<!--
 <include file="$(find p3at_urdf)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos0"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-26.2"/>
    <arg name="initialz" value="0.2"/>
  </include>


  <include file="$(find p3at_urdf)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos1"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-20"/>
    <arg name="initialz" value="0.2"/>
  </include>

  <include file="$(find p3at_urdf)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos2"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-22"/>
    <arg name="initialz" value="0.2"/>
  </include>

  <include file="$(find p3at_urdf)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos3"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-23.5"/>
    <arg name="initialz" value="0.2"/>
  </include>

  <include file="$(find p3at_urdf)/launch/P3AT_launch_files/p3at_spawn.launch">
    <arg name="robotname" value="sos4"/>
    <arg name="initialx" value="40"/>
    <arg name="initialy" value="-25"/>
    <arg name="initialz" value="0.2"/>
  </include>
-->
  <!-- Launch gazebo -->

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(find rc2017rvrl)/worlds/$(arg world)"/>
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <!-- Transfer sound to ROS 

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="ns" value="gazebo"/>
    <arg name="device" value="pulse"/>
  </include>
-->

</launch>


